/* Estilos generales */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Contenedor de login */
.login-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    color: white;
}

/* Inputs */
.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    display: block;
}

/* Botón de acceso */
.login-btn {
    background: #ff9800;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.login-btn:hover {
    background: #e68900;
}

/* Botones de redes sociales */
.social-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.social-btn {
    width: 50px;
    height: 50px;
    background: white;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.2s, box-shadow 0.2s;
}

.social-btn img {
    width: 30px;
    height: 30px;
}

.social-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.3);
}

/* Botón de registro */
.register-btn {
    background: #ff9800;
    color: white;
    border: none;
    padding: 8px;
    width: 60%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0px;
}

.register-btn:hover {
    background: #e68900;
}

/* Mensaje de error */
.error-message {
    display: none;
    color: red;
    margin-top: 10px;
}

/* Logo */
.logo {
    position: fixed;
    top: 40px;
    align-items: center;
    width: 160px;
    z-index: 1000;
}


/* Aviso de cookies */
.cookie-banner {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1000;
    max-width: 90%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 24px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie-text {
    padding: 0 10px;
    flex: 1;
    text-align: left;
}

.accept-cookies {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    font-size: 13px;
}

.accept-cookies:hover {
    background-color: #ff9900;
}

.cookie-banner a {
    color: #ffcc00;
    text-decoration: none;
    font-size: 12px;
}

.cookie-banner a:hover {
    color: #ff9900;
}